header{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 20vh;
    grid-template-areas: 
    "MENU UNEM"
}

main{
    display:grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 80vh;
    grid-template-areas:
    "MAIN SIDEBAR";
}

.Mendeleyev{
    background-color: lime;
    grid-area: MENU;
}

.H{
    background-color: green;
    grid-area: UNEM ;
}
 
.He{
    background-color: purple;
    grid-area: MAIN ;
}

.Li{
    background-color: crimson;
    grid-area: SIDEBAR;
}